.maslo {
  position:absolute;
  margin-left: 140px;
  margin-top: 308px
}

.sale {
  position:absolute;
  margin-left: 145px;
  margin-top: 330px
}

.frog {
  position:absolute;
    margin-top: 7px
}

.knopka{
  position:absolute;
  margin-left:245px;
  margin-top:355px
}

.maslo1{
  position:absolute;
  margin-left: 685px;
  margin-top: 308px
}

.sale1{
  position:absolute;
  margin-left: 690px;
  margin-top: 330px
}

.knopka1{
  position:absolute;
  margin-left:790px;
  margin-top:355px
}

.maslo2{
  position:absolute;
  margin-left:1315px;
  margin-top: 308px
}

.sale2{
  position:absolute;
  margin-left: 1315px;
  margin-top: 330px
}

.knopka2 {
  position:absolute;
  margin-left:1410px;
  margin-top:355px
}

.zakaz{
  position:absolute;
  margin-left:332px;
  margin-top:355px
}

.zakaz1 {
  margin-left:545px;
  margin-top:-38px
}

.zakaz2{
  position:absolute;
  margin-left:615px;
  margin-top:-38px
}

.nameX{
  position:absolute;
  margin-left: -1495px;
  margin-top:-390px
}
